.massage {
    min-height: auto !important;
}

.massage .phone {
    margin-bottom: 20px;
    font-size: 1.1em;
}

.massage .dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid var(--half-opacity-black);
    border-radius: var(--border-radius);
}

.massage .dropdown-menu:not(:last-child) {
    border-bottom: none;
}

.massage .dropdown-label__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;

    gap: 50px;
    padding: 10px 20px;

    user-select: none;

    border-bottom: 1px solid var(--second-color);
}

.massage .dropdown-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 0;

    gap: 50px;
    padding: 0 20px;

    overflow-y: hidden;
    transition: height .3s ease-in;
}

.massage .dropdown-content.show-menu {
    padding: 20px;
    height: auto;
    transition: height .3s ease-in;
}

.dropdown-label__wrapper .arrow-rotate {
    transform: rotate(180deg);
}

.massage .dropdown-content img {
    width: 300px;
}