:root {
    /* colors */
    /* main */
    --second-color: #f8e71c;

    /* default */
    --black: #000;
    --white: #fff;

    /* default with opacity */
    --half-opacity-black: rgba(0, 0, 0, 0.5);
    --six-opacity-black: rgba(0, 0, 0, 0.6);
    --seven-opacity-black: rgba(0, 0, 0, 0.7);
    --half-opacity-white: rgba(255, 255, 255, 0.5);

    /* background */
    --main-background-color: #25313b;
    --header-nav-background-color: #171717;
    --footer-info-background-color: #171717;

    /* other */
    --darker-secondary-color: #9d9314;
    --navigation-main-tag-hover: #8e8308;
    --gray-color: #a0a0a0;
    --darker-white: #d8d8d8;
    --reject: red;
    --disabled-color: #e8e8e8;

    /* fonts */
    --font-color-on-dark-background: #fff;
    --main-font-color: #0e0a0a;
    --placeholder-color: #bcbcbc;

    /* borders */
    --border-radius: 2px;
}
