:root {
    /* colors */
    --black: #000;
    --white: #fff;
    --main-background-color: #25313b;
    --second-color: #f8e71c;
    --placeholder-color: #bcbcbc;

    /* fonts */
    --font-color-on-dark-background: #fff;
    --main-font-color: #0e0a0a;
}
