.form {
    display: grid;
    grid-template-columns: repeat(9, minmax(50px, 1fr));
    grid-template-rows: auto auto 45px;
    row-gap: 20px;
}

.change_button {
    grid-row: 3 / 4;
    grid-column: 4 / 6;
}

.change_button:hover {
    color: var(--main-font-color);
    cursor: pointer;
}

.inputs_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    gap: 15px;
    width: 100%;

    grid-column: 3 / 7;
}

.input_w {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    gap: 5px;
    width: 100%;
}

.input_w input {
    width: 100%;
    padding: 5px 10px;

    border: 2px solid var(--main-font-color);
    border-radius: var(--border-radius);

    outline: none;

    font-size: 1em;

}

.input_w input:focus {
    border-color: var(--darker-secondary-color);
}

.show_password_checkbox {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.show_password_checkbox input {
    opacity: 0;
    position: absolute;
    z-index: -999;
}

.show_password_checkbox label {
    margin: 0 auto;

    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.show_password_checkbox label::before {
    content: '';

    width: 15px;
    height: 15px;

    border-radius: var(--border-radius);
    border: 1px solid var(--main-font-color);

    margin-right: 5px;
    display: inline-block;
}

.show_password_checkbox input[type="checkbox"]:checked + label::before {
    background-color: var(--second-color);
}