.aerobics {
    margin-bottom: 0;
}

.aerobics .aerobics__text-wrapper {
    margin-bottom: 50px;
}

.aerobics .aerobics__text-wrapper p {
    margin-bottom: 20px;
}


.aerobics .aerobics__images-wrapper {
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;
}

.aerobics .aerobics__images-wrapper .image-wrapper {
    flex: 1;
    height: 100%;

    border-left: 2px solid var(--main-background-color);
    border-right: 2px solid var(--main-background-color);
    border-top: 5px solid var(--main-background-color);
    border-bottom: 5px solid var(--main-background-color);
}

.aerobics .aerobics__images-wrapper .image-wrapper:first-child {
    border-left: none;
}

.aerobics .aerobics__images-wrapper .image-wrapper:last-child {
    border-right: none;
}

.aerobics .aerobics__images-wrapper .image-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}